@import '../../styles/vars';

.order {
}

.title {
}

.body {
  display: flex;
  justify-content: space-between;
}

.form {
  width: 620px;
  margin-top: 95px;

  input {
    width: 100%;
    padding: 20px 29px;
    margin-bottom: 24px;

    background: $lightBlue;
    border: 1px solid $blue;
    border-radius: 50px;

    &:last-child {
      margin-bottom: 12px;
    }
    &:focus {
      background: #fff;
    }
    &.error {
      background: #ffe3e3;
      color: $black;
    }
  }
}

.checkboxWrapp {
  position: relative;
  display: flex;
  margin-bottom: 65px;
}

.inputCheckbox {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  width: 22px;
  height: 22px;

  background: #fff;
  border: 2px solid $blue;
  margin-right: 14px;
}

.checked {
  width: 22px;
  height: 22px;
  margin-right: 14px;
}

.checkBoxText {
  max-width: 335px;
}

.error {
  color: red;
}

.cake {
  margin-top: 30px;
}
