@import '../../../styles/vars';

.btn {
  button {
    padding: 18px 60px;

    font-size: 24px;
    font-family: $Amatic;
    text-transform: uppercase;

    color: #fff;
    background: #5b9ed9;
    box-shadow: 3px 6px 0px #487dac;
    border-radius: 50px;
  }
}
