@import '../../styles/vars';

.header {
  height: 90vh;
  padding-top: 30px;
}

.blueberries21Top {
  display: none;
}
.blueberries22Top {
  display: none;
}
.blueberries23Top {
  display: none;
}
.srawberries {
  display: none;
}

.offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.inner {
  max-width: 683px;
}

.title {
  max-width: 683px;
  margin-bottom: 10px;

  font-family: $Amatic;
}

.text {
  max-width: 490px;
  margin-bottom: 65px;
}

.cakeWrapp {
  display: flex;
  justify-content: flex-start;
  max-width: 845px;
  max-height: 845px;
  width: 53%;
  height: 50%;
  margin-top: -20px;
}

.cake {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  margin-right: -70px;
  padding: 15px;
}

.cakeImg {
  width: 655px;
  height: 655px;
}

.firstOrbite {
  width: 88%;
  height: 0;
  padding-bottom: 88%;
  margin-top: -44%;
  margin-left: -44%;

  animation: spin-right 50s linear infinite;
  -webkit-animation: spin-right 50s linear infinite;

  img {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 25%;
    left: 93%;
    width: 64.68px;
    height: 55.73px;
  }
}

.secondOrbite {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-top: -50%;
  margin-left: -50%;

  animation: spin-right 60s linear infinite;
  -webkit-animation: spin-right 60s linear infinite;
}

.firstOrbite,
.secondOrbite {
  position: absolute;
  top: 50%;
  left: 50%;

  border: 1px solid #97ceff;
  border-radius: 50%;
}

.blueberries21,
.blueberries22,
.blueberries23 {
  transform: translate(-50%, -50%);
  position: absolute;
}

.blueberries21 {
  top: 0%;
  left: 50%;
}

.blueberries22 {
  top: 76%;
  left: 93%;
}

.blueberries23 {
  top: 73%;
  left: 5%;
}

.lavanda1 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 17%;
  left: 13%;
}

.lavanda2 {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 93%;
  left: 71%;
}

.bigCake {
  max-width: 655px;
  max-height: 655px;
  width: 80%;
  margin: 0 auto;
}

@keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-right {
  100% {
    transform: rotate(360deg);
  }
}

/* 1550px - 1700px */
@media screen and (max-width: 1700px) {
  .cake {
    margin-right: 0;
  }
}

/* 1200px - 1550px */
@media screen and (max-width: 1550px) {
  .title {
    max-width: 600px;
  }
  .text {
    max-width: 380px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .header {
    position: relative;
  }
  .offer {
    justify-content: center;
  }
  .blueberries21Top {
    display: block;
    position: absolute;
    top: 20%;
    right: 29%;
    width: 43px;
    height: 37px;
    transform: rotate(155deg);
  }
  .blueberries22Top {
    display: block;
    position: absolute;
    top: 34%;
    right: 3%;
    width: 59px;
    height: 50px;
    transform: rotate(-96deg);
  }
  .blueberries23Top {
    display: block;
    position: absolute;
    top: 51%;
    right: 11%;
    width: 35px;
    height: 30px;
    transform: rotate(-110deg);
  }
  .srawberries {
    display: block;
    position: absolute;
    top: 62%;
    right: -5%;
    width: 100px;
    height: 124px;
  }
  .cakeWrapp {
    display: none;
  }
  .inner {
    max-width: 500px;
    text-align: center;
  }
  .title {
    margin-bottom: 0;
  }
  .text {
    margin: 30px auto;
  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .offer {
    justify-content: flex-start;
  }
  .inner {
    max-width: 296px;
    text-align: left;
  }
  .text {
    max-width: 490px;
    margin-bottom: 65px;
  }
  .blueberries21Top {
    top: 28%;
  }
  .srawberries {
    right: -45px;
  }
}
