.feedback {
  position: relative;
}

.title {
  margin-bottom: 65px;
  text-align: center;
}

.feedbackTestContainer {
  width: 100%;
  margin-top: 200px;
  display: flex;
}

.wrappFeedbackCard2 {
  width: 50%;
}
