.footer {
  padding-bottom: 12px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 76px;
}

.icon {
  width: 15px;
  height: 15px;
  margin-right: 18px;
}

.text {
  font-size: 16px;
  font-weight: 400;
}
