.feedbackCard {
  display: flex;
  width: 620px;
  padding: 40px 99px 40px 40px;

  box-shadow: 6px 8px 65px rgba(0, 0, 0, 0.1);
  border-radius: 35px;
}
.left {
  padding-right: 25px;
}
.body {
  width: 337px;
}
.name {
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 24px;
  text-transform: none;
}
.text {
  margin-bottom: 20px;
}
.list {
  display: flex;
}
.item {
  margin-right: 5.7px;

  &:last-child {
    margin-right: 0px;
  }
}
