@import '../../styles/vars';

.nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  z-index: 9;
}

.logo {
  width: 101px;
  height: 61px;
}

.navMenu {
  display: flex;

  li {
    padding: 8px;
    margin-right: 65px;

    cursor: pointer;
    border: 1px solid transparent;
    transition: $time;

    &:hover {
      border-bottom: 1px solid $lightBlack;
      transition: $time;
    }

    &:last-child {
      margin-right: 0px;
    }
  }
}

.callbackBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  svg {
    margin-right: 10px;
  }
}

.socialIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 23px;

  a {
    display: block;
    margin-right: 19px;

    &:last-child {
      margin-right: 0;
    }

    img {
      width: 36.25px;
      height: 36.25px;
    }
  }
}

.alert {
  font-size: 12px;
}

.hamburger {
  display: none;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 21px;
}

.hamburgerActive {
  .centerLine {
    background: transparent;

    &::before {
      top: 50%;
      margin-top: -1.5px;

      transform: rotate(45deg);
      transition: $time;
    }
    &::after {
      bottom: 50%;
      margin-bottom: -1.5px;

      transform: rotate(-45deg);
      transition: $time;
    }
  }
}

.centerLine {
  width: 100%;
  height: 3px;

  background: $black;
  transition: $time;

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;

    background: $black;
    transition: $time;
  }

  &::before {
    top: 0;
    left: 0;
  }
  &::after {
    bottom: 0;
    left: 0;
  }
}

/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .navMenu {
    li {
      margin-right: 10px;
    }
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .nav--footer {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
  .navMenu {
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 16px;

    background: #ffffff;
    border: 1px solid $lightBlack;
    z-index: 5;
    opacity: 0;
    transition: $time;

    li {
      margin-right: 0px;
      list-style: inside;
      opacity: 0;
      transition: $time;
    }
  }
  .navMenuActive {
    opacity: 1;
    transition: $time;
    li {
      opacity: 1;
      transition: $time;

      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
  .hamburger {
    display: flex;
  }
  .callbackBlock--header {
    display: none;
  }
  .socialIcons {
    margin-top: 15px;
  }
}
